body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #000;
}

h1 {
  text-align: center;
  color: chartreuse;
}

h2 {
  margin-top: 0px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  justify-content: center;
}

.item {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 10px;
  display: grid;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
}