
Eclipse/.metadata/.lock
Eclipse/.metadata/.log
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/25/00a1e3e287e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/28/200129d787e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/3/c0f7a7b48ae4001d1606bd4594f13e44
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/3c/10047e0f8ae4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/3e/f03743b489e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/54/a08d87c88ae4001d1606bd4594f13e44
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/59/202fb8a489e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/5c/c0c858bf8ae4001d1606bd4594f13e44
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/64/f0c287d787e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/6f/b062e85189e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/78/606113fa89e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/88/90a7fea789e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/8d/3024b8e287e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/9d/40aa95ad8ae4001d1606bd4594f13e44
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/b0/506534db89e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/be/c077e79f8ae4001d1606bd4594f13e44
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/c5/9005a6cf89e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/c9/8051cb5a89e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/e/5010df7189e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f1/10f55ccc89e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f6/d00ab7bf89e4001d10b28276a5b3d2b0
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Aulas/.indexes/af/history.index
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Aulas/.indexes/e4/a8/history.index
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Aulas/.indexes/e4/a9/history.index
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Aulas/.indexes/e4/history.index
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Aulas/org.eclipse.jdt.core/state.dat
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Exercicios/.indexes/af/history.index
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Exercicios/.indexes/e4/history.index
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Exercicios/org.eclipse.jdt.core/state.dat
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/TipoChar (1).launch
Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/TipoChar.launch
Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/TipoNumerico.launch
Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/TiposNumericos (1).launch
Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/TiposNumericos.launch
Eclipse/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
Eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
Eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Eclipse/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
Eclipse/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/131792988.index
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/1780731238.index
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/2525604767.index
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Eclipse/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Eclipse/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Eclipse/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Eclipse/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Eclipse/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Eclipse/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Eclipse/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Aulas/2023/4/17/refactorings.history
Eclipse/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Aulas/2023/4/17/refactorings.index
Eclipse/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
Eclipse/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
Eclipse/.metadata/.plugins/org.eclipse.m2e.logback/0.log
Eclipse/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.100.20230106-1511.xml
Eclipse/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Eclipse/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Eclipse/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
Eclipse/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
Eclipse/.metadata/.plugins/org.eclipse.ui.intro/introstate
Eclipse/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Eclipse/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
Eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
Eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
Eclipse/.metadata/version.ini
Eclipse/Aulas/.classpath
Eclipse/Aulas/.project
Eclipse/Aulas/.settings/org.eclipse.core.resources.prefs
Eclipse/Aulas/.settings/org.eclipse.jdt.core.prefs
Eclipse/Aulas/bin/module-info.class
Eclipse/Aulas/src/module-info.java
Eclipse/Exercicios/.classpath
Eclipse/Exercicios/.project
Eclipse/Exercicios/.settings/org.eclipse.core.resources.prefs
Eclipse/Exercicios/.settings/org.eclipse.jdt.core.prefs
Eclipse/Exercicios/bin/module-info.class
Eclipse/Exercicios/src/module-info.java
*.tree
*.launch
*.png
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/95/a050cd6b8ee4001d130f838f4eb6a745
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/d5/c0a88cbb8ee4001d130f838f4eb6a745
Eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/e1/f0f527c68ee4001d130f838f4eb6a745
