Eclipse/.metadata
Eclipse/Aulas/.classpath
Eclipse/Aulas/.project
Eclipse/Aulas/.settings
Eclipse/Aulas/bin
Eclipse/Aulas/src/module-info.java
Eclipse/Exercicios/.classpath
Eclipse/Exercicios/.project
Eclipse/Exercicios/.settings
Eclipse/Exercicios/bin
Eclipse/Exercicios/src/module-info.java
*.tree
*.launch
*.png
*.index
