body {
  margin: 0px;
}
h2 {
background: #e7e7e7;
border: 1px solid #d7d7d7;
flex: 1;
text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 20px;

}