body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 50px;

}
h1 {
  text-align: center;
}
h2 {
  margin: 0px;
}

span {
  color: #Febe01;
}

p {
  color: #b2b2b2;
}

a {
  background: #Febe01;
  color: #111111;
  padding: 8px;
  display: inline-block;
  border-radius: 8px;
  margin: 4px;
}

.item {
  background: #111111;
  color: #FFFFFF;
  padding: 30px;
  margin: 20px;
  border-radius: 20px;
}