body {
  background: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px;
}
h1 {
  color: #Febe01;
  text-align: center;
}
img {
  max-width: 100%;
  display: block;
}

.container {
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
}

.box{
  background: #Febe01;
  display: grid;
  place-items: center;
  width: 300px;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
}